body{
    margin: 0px;
    font-family: "Roboto";
    background-color: black;
    z-index: 0;
}
.main{
    background-image: url(assets/images/bg.jpg);
    /*The next three line of code are being done in order to add responsiveness to our page, when resizing of window is performed. I am reffereing to backposition, back repeat and background size*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px,100vw);
    height: 80vh;
    padding: 0px;
    margin: 0px;
    opacity: 1;
    position: relative;
}
.background-color-box{
    top:0;
    left: 0px;
    height: 80vh;
    width: 100%;
    opacity: 0.7;
    background-color: black;
    position: absolute;
    z-index: 0;
}
.navigation-bar{
    padding-top: 10px;
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    flex-direction:row;
    position: relative;
    z-index: 1;
}
.netflix-logo{
    width: 100px;
}
.language{
    background-color: black;
    color: white;
    border-style: none;
    border-color: white;
    border-width: 1px;
    box-shadow: 5px 5px 5px 10px(0,0,0,0.25);
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.sign-in{
    background-color: red;
    color: white;
    border-style: none;
    border-color: white;
    border-width: 1px;
    border-radius: 2px;
    box-shadow: 5px 5px 5px 10px(0,0,0,0.25);
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.text-input{
    height: calc(100% - 100px);
    margin-top: 70px;
    display: flex;
    flex-direction: column ;
    vertical-align: middle;
    align-items: center;
    align-self:center ;
    text-align: center;
    position: relative;
    width: 100%;
    z-index: 1;
}
.heading{
    color: white;
    font-weight: bolder;
    font-size: 40px;
    margin-bottom: 0px;
}
.subheading{
    margin-top: 5px;
    color: white;
    font-weight:normal;
}
.email{
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    align-items: center;
    color: white;
}
.emailForm{
    display: flex;
    flex-direction: row;
    width: 80%;
}
.emailBox{
    height: 30px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-style: solid;
    border-width:1px;
    border-color: white;
    outline: none;
    color: white;
    padding: 1px;
    opacity: 0.6;
}
.emailBox::placeholder{
    padding-left: 5px;
    color: white;
}
.emailButton{
    margin-left: 5px;
    border-style: none;
    background-color: red;
    color: white;
    border-style: none;
    border-radius: 3px;
    width: 120px;
}
.section-divide{
    margin:0px;
    height: 3px;
    border-style: none;
    background-color: rgba(128, 128, 128, 0.137);
}
.section1{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.section-text1{
    color: white;

}
.section-header1{
    font-size: 35px;
    font-weight: bolder;
    margin-bottom: 0px;
}
.section-subheader1{
    margin-top: 21px;
    font-size: 18px;
}
.tv1{
    position: relative;
    width: 90%; 
    z-index: 1;
}
.video1{
    position: absolute;
    width: 350px;
    right: 242px;
    top: 1252px;
    z-index: 0;
}
.section2{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.section-text2{
    color: white;

}
.section-header2{
    font-size: 35px;
    font-weight: bolder;
    margin-bottom: 0px;
}
.section-subheader2{
    margin-top: 21px;
    font-size: 18px;
}
.tv2{
    position: relative;
    width: 90%; 
    z-index: 1;
}
.section3{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.section-text3{
    color: white;

}
.section-header3{
    font-size: 35px;
    font-weight: bolder;
    margin-bottom: 0px;
}
.section-subheader3{
    margin-top: 21px;
    font-size: 18px;
}
.tv3{
    position: relative;
    width: 90%; 
    z-index: 1;
}
.video3{
    position: absolute;
    width: 360px;
    right: 242px;
    top: 538px;
    z-index: 0;
}
.section4{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.section-text4{
    color: white;

}
.section-header4{
    font-size: 35px;
    font-weight: bolder;
    margin-bottom: 0px;
}
.section-subheader4{
    margin-top: 21px;
    font-size: 18px;
}
.tv4{
    position: relative;
    width: 90%; 
    z-index: 1;
}
.faq{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.faq-header{
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}
.question{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
    width: 55%;
    margin: auto;
    justify-content: space-between;
    background-color: rgba(97, 97, 97, 0.952);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 3px;
}
.question-header{
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.create-account{
    margin-top: 80px;
    margin-left: 270px;
    margin-right: 0px;
    margin-bottom: 80px;
}
.emailHeader1{
    color: white;
    font-weight: bold;
}
.emailForm1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    vertical-align: middle;
}
.emailBox1{
    height: 50px;
    width: 88%;
    background-color: rgb(0, 0, 0);
    border-style: solid;
    border-width:1px;
    border-color: white;
    outline: none;
    color: white;
    padding: 1px;
    opacity: 0.6;
}
.emailBox1::placeholder{
    padding-left: 5px;
    color: white;
    vertical-align: middle;
}
.emailButton1{
    margin-left: 5px;
    border-style: none;
    background-color: red;
    color: white;
    border-style: none;
    border-radius: 3px;
    width: 130px;
}
.emailfooter1{
    color: gray;
    margin-top: 30px;
    margin-left: 30px;
    font-weight: bold;
}
.footer{
    display: flex;
    flex-direction: row;
    column-gap  : 100px;
    color: rgb(197, 197, 197);
    width: 70%;
    padding-left:120px;
    margin-top: 500px;
    margin: auto;
}
.footer p{
    margin-bottom:30px ;
    text-decoration: underline;
}